body {
    margin:0px;
    background-image:none;
    background-color: background-color: rgba(21, 116, 147, 1);
    position:static;
    left:auto;
    margin-left:0;
    margin-right:0;
    text-align:left;
    padding:0px;
    font-family : Arial, Helvetica, Sans-Serif;
    font-style:normal;
    font-size:33px;
    font-weight: 400;
    color:#FFFFFF;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
    word-wrap:break-word;
    line-height: normal;
    overflow: hidden;
}


#cpl-header-div {
    width:100%;
    height: 120px;
    margin-right: 0px;
    background-color: rgba(198, 9, 59, 1);
}

#cpl-logo-img {
    width: 332px;
    height: 83px;
    margin-left: 45px;
    margin-top: 21px;
}

#cpl-logo-div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 85px;
}

#cpl-dtw-div {
    margin-top: 21px;
    margin-right: 7px;
    float: right;
}

#cpl-time {
    float: right;
    font-family:'Raleway-Bold', 'Raleway Bold', 'Raleway';
    font-weight:700;
    font-style:normal;
    font-size:33px;
}


#cpl-weather {
    float: right;
    font-family:'Raleway-Bold', 'Raleway Bold', 'Raleway';
    font-weight:700;
    font-style:normal;
    font-size:33px;    
}


#cpl-date {
    float: right;
    font-size: 33px;
    font-weight: 200;
    font-family: 'MuseoSans-300', 'Museo Sans 300', 'Museo Sans 500', 'Museo Sans';
}

#cpl-weather-image {
    float: right;
    margin-top: 21px;
    margin-right: 21px;
    margin-left: 21px;
}

#cpl-events-div {
    float: left;
    margin-left:0px;
    margin-top: 0px;
    width:  100%;
    height: 960px;
    background-color: rgba(21, 116, 147, 1);
}

h3.s-lc-ea-h3 { display: none; }
table.s-lc-ea-tb { display: none; }

#cpl-events-header {
    font-family:'Raleway-Bold', 'Raleway Bold', 'Raleway';
    font-size: 58px;
    font-weight:700;
    margin-top: 28px;
    margin-left: 45px;
}

.cpl-events-column {
    width: 535px;
    float: left;
}

#cpl-events-divider {
    float: left;
    margin-top: 50px;
    margin-left: 21px;
    margin-right:21px;
}

#cpl-line {
    height: 750px;
}

.cpl-event {
    font-family:'Raleway-Regular', 'Raleway';
    font-size: 35px;
    font-weight: 400;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 45px;
}

.cpl-event-title {
    font-family:'Raleway-Bold', 'Raleway Bold', 'Raleway';
    font-size: 42px;
    font-weight: 600;

    overflow:hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    
}

.cpl-event-today {
    font-family:'Raleway-Medium', 'Raleway Medium', 'Raleway';
    font-size: 35px;
    font-weight: 500;
}

.cpl-event-online {
    color: #ffff00;
}

.cpy-event-date {

}


#cpl-poster-div {
    position: absolute;
    right: 0px;
    top: 120px;
    width: 761px;
    height: 960px;
}
